@page "/third-party-licences"

<div class="container">

    <h1 class="licence-page-header" style="padding-bottom: 40px; padding-top:60px;">Tietosuoja</h1>
    <h2 style="font-size: 18px;" class="licence-title">Tietosuoja ja henkilötietojen käsittely</h2>
    <div class="licence-content" style="padding-bottom:40px">
        <p>
            OivaTaito-sovellus ei kerää käyttäjistään tietoa kaupalliseen tarkoitukseen. Mitään henkilökohtaista tietoa, kuten puhelinnumeroita, tai käyttäjien nimiä
            ei kerätä. Tietoja käyttäjistä ei luovuteta kolmansille osapuolille.
        </p>
        <p>
            OivaTaito-sovellus käyttää Google Sign-In -rajapintaa rekisteröitymiseen ja sisäänkirjaukseen. Google Sign-In -rajapinnasta
            sovellus vastaanottaa tunnisteen, joka tallennetaan tietokantaan. Tätä tunnistetta käytetään erottelemaan eri käyttäjät toisistaan. Käyttäjiä ei yksilöidä
            muilla tavoin.
        </p>
    </div>

    <hr />

    <h1 class="licence-page-header" style="padding-bottom: 10px; padding-top:30px;">Rekisteri- ja tietosuojaseloste</h1>
    <div class="licence-content">
        <p>
            Tämä on OivaTaito-sovelluksen henkilötietolain (10 ja 24 §) ja EU:n yleisen tietosuoja-asetuksen (GDPR) mukainen rekisteri- ja tietosuojaseloste.
            Laadittu 1.1.1970. Viimeisin muutos 1.1.1970.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">1. Rekisterinpitäjä</h2>
    <div class="licence-content">
        <p>
            Oiva Oivallinen
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">2. Rekisteristä vastaava yhteyshenkilö</h2>
    <div class="licence-content">
        <p>
            Oiva Oivallinen
        </p>
    </div>

    <h2 style="font-size: 18px;" class="licence-title">3. Rekisterin nimi</h2>
    <div class="licence-content">
        <p>
            Verkkopalvelun käyttäjärekisteri.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">4. Oikeusperuste ja henkilötietojen käsittelyn tarkoitus</h2>
    <div class="licence-content">
        <p>
            EU:n yleisen tietosuoja-asetuksen mukainen oikeusperuste henkilötietojen käsittelylle on henkilön vapaaehtoinen suostumus.
            Henkilötietojen käsittelyn tarkoitus on käyttäjien erottaminen toisistaan, tunnistautuminen,
            sekä yksittäisen käyttäjän kehityksen havainnollistaminen sovelluksessa suoritettavien kyselyiden tuloksiin perustuen.
            Tietoja ei käytetä automatisoituun päätöksentekoon tai profilointiin.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">5. Rekisterin tietosisältö</h2>
    <div class="licence-content">
        <p>
            Rekisteriin tallennettavia tietoja ovat: Käyttäjien yksilöllinen tunniste.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">6. Säännönmukaiset tietolähteet</h2>
    <div class="licence-content">
        <p>
            Rekisteriin tallennettavat tiedot vastaanotetaan Google Sign-In -rajapinnasta.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">7. Tietojen säännönmukaiset luovutukset ja tietojen siirto EU:n tai ETA:n ulkopuolelle</h2>
    <div class="licence-content">
        <p>
            Tietoja ei luovuteta muille tahoille.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">8. Rekisterin suojauksen periaatteet</h2>
    <div class="licence-content">
        <p>
            Henkilötietojen käsittelyssä noudatetaan huolellisuutta ja tietojärjestelmien avulla käsiteltävät tiedot suojataan asianmukaisesti.
            Kun henkilötietoja säilytetään Internet-palvelimilla, niiden laitteiston fyysisestä ja digitaalisesta tietoturvasta huolehditaan asiaankuuluvasti.
            Rekisterinpitäjä huolehtii siitä, että tallennettuja tietoja sekä palvelimien käyttöoikeuksia
            ja muita henkilötietojen turvallisuuden kannalta kriittisiä tietoja käsitellään luottamuksellisesti ja vain niiden työntekijöiden toimesta, joiden työnkuvaan se kuuluu.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">9. Tarkastusoikeus ja oikeus vaatia tiedon korjaamista</h2>
    <div class="licence-content">
        <p>
            Jokaisella OivaTaito -sovellusta käyttävällä henkilöllä on oikeus tarkistaa rekisteriin tallennetut tietonsa. Mikäli henkilö haluaa tarkistaa hänestä tallennetut tiedot,
            pyyntö tulee lähettää rekisterinpitäjälle. Rekisterinpitäjä vastaa asiakkaalle EU:n tietosuoja-asetuksessa säädetyssä ajassa (pääsääntöisesti kuukauden kuluessa).
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">10. Muut henkilötietojen käsittelyyn liittyvät oikeudet</h2>
    <div class="licence-content">
        <p>
            Rekisterissä olevalla henkilöllä on oikeus pyytää häntä koskevien henkilötietojen poistamiseen rekisteristä ("oikeus tulla unohdetuksi").
            Niin ikään rekisteröidyillä on muut <a href="https://eur-lex.europa.eu/legal-content/FI/TXT/?uri=CELEX%3A32016R0679#d1e2144-1-1">EU:n yleisen tietosuoja-asetuksen mukaiset oikeudet</a> kuten henkilötietojen käsittelyn rajoittaminen tietyissä tilanteissa.
            Pyynnöt tulee lähettää rekisterinpitäjälle. Rekisterinpitäjä vastaa asiakkaalle EU:n tietosuoja-asetuksessa säädetyssä ajassa (pääsääntöisesti kuukauden kuluessa).
        </p>
    </div>

    <hr />

    @*tietosuojaseloste loppuu*@

    <h1 class="licence-page-header" style="padding-bottom: 10px; padding-top:30px;">Saavutettavuusseloste</h1>

    <div class="licence-content">
        <p>
            Tämä saavutettavuusseloste koskee palvelua OivaTaito, ja on päivitetty 1.1.1970.
            Palvelua koskee laki digitaalisten palvelujen tarjoamisesta, jossa edellytetään, että julkisten verkkopalvelujen on oltava saavutettavia.
            Saavutettavuusselosteesta selviää myös, mitä puutteita saatavuudessa on.
            Sivusto on julkaistu 1.1.1970.
        </p>
        <p>
            Olemme arvioineet palvelun saavutettavuuden tällä hetkellä itse.
            Sivuston saavutettavuuden arvioi ulkopuolinen taho myöhemmässä vaiheessa.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">1. Miten olemme testanneet saavutettavuutta?</h2>
    <div class="licence-content">
        <p>
            Huomiot perustuvat sovelluksen kehittäjien sekä työryhmän tekemään arviointiin siitä, täyttääkö verkkopalvelu laissa määritellyt vaatimukset.
            Saatuja käyttäjäpalautteita on käytetty myös hyödyksi saatavuuden parantamisessa.
            Saatavuutta arvioitaessa on käytetty WAWE Web Accessibility Evaluation Tool –laajennusosaa ja selaimena Google Chrome selainta.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">2. Miten saavutettava sovellus on?</h2>
    <div class="licence-content">
        <p>
            OivaTaito-sovellus täyttää lain vaatimat A- ja AA-tason saavutettavuuskriteerit (WCAG-kriteeristö 2.1).
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">3. Sisällöt ja toiminnot, jotka eivät ole saavutettavia</h2>
    <div class="licence-content">
        <p>
            Google Chrome –selainta käytettäessä saavutettavuudessa ei ole havaittuja puutteita.
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">4. Huomasitko saavutettavuuspuutteen digipalvelussamme?</h2>
    <div class="licence-content">
        <p>
            Kerro se meille ja teemme parhaamme puutteen korjaamiseksi. Voitte kertoa havainnoistanne sähköpostilla osoitteeseen: <a href="mailto:">oiva.oivallinen(at)esimerkki</a>
        </p>
    </div>
    <h2 style="font-size: 18px;" class="licence-title">5. Valvontaviranomainen</h2>
    <div class="licence-content">
        <p>
            Jos huomaat sivustolla saavutettavuusongelmia, anna ensin palautetta meille eli sivuston ylläpitäjälle.
            Vastauksessa voi mennä 14 päivää. Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana,
            <a href="https://www.saavutettavuusvaatimukset.fi/kayttajan-oikeudet/">voit tehdä ilmoituksen Etelä-Suomen aluehallintovirastoon.</a> Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti,
            miten ilmoituksen voi tehdä ja miten asia käsitellään
        </p>
    </div>
    <h3 style="font-size: 16px;">Valvontaviranomaisen yhteystiedot</h3>
    <div class="licence-content">
        <p>
            Etelä-Suomen aluehallintovirasto<br />
            Saavutettavuuden valvonnan yksikkö<br />
            www.saavutettavuusvaatimukset.fi<br />
            saavutettavuus(at)avi.fi puhelinnumero vaihde 0295 016 000
        </p>
    </div>

    <hr />

    @*Saavutettavuus loppuu*@

    <h1 class="licence-page-header" style="padding-bottom: 40px; padding-top:60px;">Kolmannen osapuolen kirjastot</h1>

    <h2 style="font-size: 18px;" class="licence-title">Blazored.LocalStorage</h2>
    <div class="licence-content" style="padding-bottom:40px">
        <p>
            MIT License
        </p>
        <p>
            Copyright (c) 2019 Blazored
        </p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>
    </div>

    <h2 style="font-size: 18px;" class="licence-title">ChartJs.Blazor</h2>
    <div class="licence-content" style="padding-bottom:40px">
        <p>
            MIT License
        </p>
        <p>
            Copyright (c) 2019 Marius Muntean
        </p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>
    </div>

    <h2 style="font-size: 18px;" class="licence-title">Microsoft.IdentityModel</h2>
    <div class="licence-content" style="padding-bottom:40px">
        <p>
            ﻿The MIT License (MIT)
        </p>

        <p>
            Copyright (c) Microsoft Corporation
        </p>

        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>

        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>

        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>
    </div>

    <h2 style="font-size: 18px;" class="licence-title">Microsoft.AspNetCore</h2>
    <h2 style="font-size: 18px;" class="licence-title">Microsoft.EntityFrameworkCore</h2>
    <h2 style="font-size: 18px;" class="licence-title">NuGet.CommandLine</h2>
    <p><div class="licence-content" style="padding-bottom:40px"><a href="https://licenses.nuget.org/Apache-2.0">Apache 2.0</a></div></p>

</div>
<style>
    .licence-content{
        padding-top: 10px;
        padding-bottom: 20px;
    }
</style>

@code {

}
