@page "/useful-links"
<div class="container">
        <h1 class="links-page-header">Linkkejä hyödyllisille sivustoille</h1>
        <dl class="useful-links-list">
            <dt>1. Tavoitteellinen työskentely ja organisointitaidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=gSkTEgGaFXE">Video: Miksi tavoitteita on tärkeä asettaa ja miten ne saavutetaan?</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=xCfyg7SewkY">Video: Tavoitteiden asettaminen – KIRMA</a></dd>
            <dt>2. Työskentelytaidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=niHcxuzOW94">Video: Osaamisen kehittäminen – Ida Mielityinen</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=X5DOWi3MbPI">Video: Uudet organisoitumismuodot ja itsensä johtaminen – LUT</a></dd>
            <dd><a href="https://etajohtaminen.fi/joustavassa-tyossa-tarvittavat-taidot/">Blogi: Joustavassa työssä tarvittavat taidot</a></dd>
            <dt>3. Oman työskentelyn johtaminen</dt>
            <dd><a href="https://www.youtube.com/watch?v=SbEQebZFEtA">Video: Työelämätaidot osa III – Itsetuntemus</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=uhZq2n1XfkY">Video: Kolme vinkkiä itsensä johtamiseen</a></dd>
            <dd><a href="https://www.partio.fi/wp-content/uploads/2018/11/Johtajuuden_itsearviointity%C3%B6kalu.pdf">Partiolaisten ohjeet oman johtajuuden itsearviointiin</a></dd>
            <dd><a href="https://www.sitra.fi/artikkelit/onko-osaaminen-onnen-lahde/">Podcast: Osaamisen aika – Onko osaaminen onnen lähde?</a></dd>
            <dt>4. Tiedon hankinta ja analysointi</dt>
            <dd><a href="https://www.youtube.com/watch?v=NGoYJAryARc">Video: Riku Rantala & Tunna Milonoff: Media- ja lähdekritiikki / Media and Source Criticism</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=wltECqudWTs">Video: Lähdekritiikki</a></dd>
            <dt>5. Yhteistyötaidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=iQms4At4SUM">Video: Työelämätaidot osa II – Vuorovaikutus</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=buXt0xNQya4">Video (podcast): Taituri-podcast: Humanistispeksi työelämätaitojen ja opintojen näkökulmasta</a></dd>
            <dd><a href="https://www.juuriharja.fi/blogi/yhteistyotaidot-ovat-tulevaisuustaitoja">Blogi: Yhteistyötaidot ovat tulevaisuustaitoja</a></dd>
            <dd><a href="https://soundcloud.com/osaamiskomitea/jos-asiantuntija-kaatuu-metsassa-eli-yhdessa-oppiminen-ja-osaaminen">Podcast: Jos asiantuntija kaatuu metsässä – eli yhdessä oppiminen ja osaaminen</a></dd>
            <dt>6. Viestintä- ja kommunikaatiotaidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=1E29chrxRuE">Video: Ismo Jokinen - Esiintymis- ja viestintätaitojen merkitys työelämässä – Speakersforum</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=G0k--QXvDa4">Video: Opettele neljä viestinnän keinoa, ettei sanomasi saa surmaansa</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=3Gi1WMSnq04">Video: Esiintymisvalmennusvinkkejä - Niina Sainius</a></dd>
            <dd><a href="https://www.oph.fi/fi/koulutus-ja-tutkinnot/vuorovaikutus-ja-viestintataidot">OPH: Vuorovaikutus ja viestintätaidot</a></dd>
            <dt>7. Ongelmanratkaisutaidot ja innovointi</dt>
            <dd><a href="https://www.youtube.com/watch?v=oCdKiy5lwzE">Video: Näkökulma, Essi Ahtola: Elämä on tiimityötä</a></dd>
            <dd><a href="https://blog.smoothlynow.com/brainstorming">Blogi: Brainstorming - Miten keksiä uusi idea tyhjästä?</a></dd>
            <dt>8. Riskinottokyky</dt>
            <dd><a href="https://ertuki.fi/riskien-ottaminen-ja-miksi-se-on-tarkeaa-bisnesmaailmassa/">Blogi: Riskien ottaminen ja miksi se on tärkeää bisnesmaailmassa</a></dd>
            <dd><a href="https://www.lily.fi/blogit/on-my-way/miten-uskaltaa-ottaa-elamassa-riskeja/">Blogi: Miten uskaltaa ottaa elämässä riskejä? </a></dd>
            <dd><a href="https://play.acast.com/s/aamukahvilla/f0f9f0ba-fe8f-4830-a9fb-0de7599e3b05">Podcast: Mitä on todellinen rohkeus? </a></dd>
            <dt>9. Tulevaisuustaidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=UxZyYvsSauk">Video: Leena Jokinen, Turun Yliopisto - Tulevaisuuden työmarkkinoilla vaadittava osaaminen</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=RKHsA8D7-bU&t=41s">Video: Perttu Pölönen – Tulevaisuuden tärkein taito</a></dd>
            <dd><a href="https://stm.fi/artikkeli/-/asset_publisher/tyoelama-muuttuu-mita-tyoelamavalmiuksia-tarvitsemme-">STM - Työelämä muuttuu - mitä työelämävalmiuksia tarvitsemme?</a></dd>
            <dd><a href="https://www.sitra.fi/julkaisut/evaita-tyoelamaan/">SITRAn julkaisuja – Eväitä työelämään </a></dd>
            <dd><a href="https://radioplay.fi/podcast/sunnuntaibrunssi/listen/2025608/">Podcast: Sunnuntaibrunssi – vieraana Perttu Pölönen </a></dd>
            <dt>10. Urataidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=oMTuBo_jHjI">Video: Seitsemän vetovihjettä verkostoitumiseen - Pasi Rautio</a></dd>
            <dd><a href="https://www.youtube.com/watch?v=Xc7rWMtt65E">Video: 3 vinkkiä verkostoitumiseen | InHunt Group, </a></dd>
            <dd><a href="https://sometaduuniin.fi/">Someta duuniin verkkokurssi</a></dd>
            <dt>11. Digitaaliset työskentelytaidot</dt>
            <dd><a href="https://www.youtube.com/watch?v=CJBnCd1XOvI">Video: Miten digitalisaatio muuttaa työskentelyä ja osaamisen kehittämistä</a></dd>
            <dd><a href="https://uralehti.fi/ammattilaiset/digitaaliset-urataidot-avaavat-uusia-verkostoja/">Blogi: Digitaaliset urataidot avaavat uusia verkostoja</a></dd>
            <dt>12. Kansainvälisyys</dt>
            <dd><a href="https://www.youtube.com/watch?v=h7yPTK8i_Jg">Video: Kamalan ihana Amerikka – Kansainvälisyys tuo sivistystä!</a></dd>
            <dd><a href="https://read.xamk.fi/2017/koulutus/kansainvalisyysosaaminen-yha-vahvemmin-osaksi-opintoja/">XAMK, Kansainvälisyysosaaminen yhä vahvemmin osaksi opintoja</a></dd>
            <dd><a href="https://blogit.savonsanomat.fi/liiketta-liiketoimintaan/kansainvalisyys-on-mahdollisuus-sinulle-minulle-meille/">Savon sanomat, Kansainvälisyys on mahdollisuus – sinulle, minulle, meille</a></dd>
            <dt>13. Itseluottamus ja hyvinvointi työssä</dt>
            <dd><a href="https://www.mielipalvelut.fi/artikkelit/mista-itsetunto-muodostuu-ja-kuinka-sita-voi-parantaa/">Blogi: Mistä itsetunto muodostuu ja kuinka sitä voi parantaa?</a></dd>
            <dd><a href="https://lifted.fi/blogi/tyohyvinvointi/tyossa-jaksaminen/">Blogi: Työssä jaksaminen koostuu pienistä tekijöistä – 10 vinkkiä</a></dd>
            <dd><a href="https://www.keva.fi/henkiloasiakkaalle/heikentynyt-tyokyky/oma-tyohyvinvointi/">Keva: Huolehdi omasta työhyvinvoinnistasi</a></dd>
            <dd><a href="https://open.spotify.com/episode/12HXEhgMwBum2txn8uhmtE">Podcast: Onko burnout uusi normaali, joka on tullut työelämään jäädäkseen?</a></dd>
            <dd><a href="https://play.acast.com/s/aamukahvilla/f6ac234a-57dc-45e4-9bae-47fe939a6b3e">Podcast: Kokonaisvaltaisen hyvinvoinnin ihanuus ja kamaluus</a></dd>
            <dd><a href="https://www.mielenterveystalo.fi/">Mielenterveys:</a></dd>
        </dl>
</div>
<style>
    .links-page-header {
        text-align: center;
        line-height: 1.2;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 30px;
    }

    .useful-links-list {
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        padding: 0 0 30px 0;
    }

        .useful-links-list dd > a {
            font-size: 18px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .useful-links-list dd {
            line-height: 0.8;
            padding-top: 15px;
        }

        .useful-links-list dt {
            padding-top: 30px;
            font-size: 18px;
        }
</style>

@code {

}