<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Pages/Logout">
            <button type="submit" class="nav-link btn btn-link">Kirjaudu Ulos</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Rekisteröidy</a>
        <a href="Identity/Account/Login">Kirjaudu sisään</a>
    </NotAuthorized>
</AuthorizeView>
