@inherits LayoutComponentBase
    <nav>
        <div class="sidebar" role="navigation">
            <NavMenu />
        </div>
    </nav>
        <main class="main" role="main">
            <div class="top-row px-4 auth">
                <LoginControl />
            </div>

            <div class="content px-4">
                @Body
            </div>
        </main>



